.add-form {
  margin-bottom: 10px;
}

.form-control {
  margin: 5px 0;
  border: 10px;
}

.form-control input {
  width: 50%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.outer-diagram {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(117, 117, 117, 0.5);
}

.diagram {
  position: absolute;
  width: 40%;
  height: 600px;
  right: 30%;
  top: 20%;
  margin: auto;
  background-color: white;
}
